@font-face {
	font-family: 'Roboto'; 
	src: url(../fonts/Roboto.ttf); 
}


@font-face {
	font-family: 'Piazzolla'; 
	src: url(../fonts/Piazzolla.ttf); 
}

body {
    margin:0px;
}

.head {
    background-color: #FFFFFF;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 5px;
} 

nav {
    display: grid;
	grid-template-columns: 1fr 90%;
    
}


.navig{
    display: flex;
    justify-content: right;
    border-bottom: solid 2px;
	border-color: #A3A3A3;
	padding-top: 50px;
    padding-bottom: 8px;
    padding-right: 10px;
}

.navig>li>a{
    font-size: 18px;
    color: #8FBD88;
    margin-left: 45px;
    text-decoration: none;
    font-family: 'Roboto'; 
}

.navig>li>a:hover {
    color: #67705C;
}

.navig>li {
    list-style: none;
}

nav>a>img {
    width: 85px;
    
}

.lectures {
    background-color: #F3FFE4;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 50px;
    padding-top: 20px;
}

.lectures>h1 {
    color: #2D492C;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    margin: 0px;
	padding-top: 70px;
    font-family: 'Piazzolla'; 
}
















footer {
    background-color: #FFFFFF;
    padding-left: 8%;
    padding-right: 8%;
    height: 70px;
    text-align: center;
}

footer > p {
    font-size: 13px;
    color: #535353;
    padding-top: 45px;
    font-family: 'Roboto'; 
}